.shopping-bag-text{
    text-align: center;
    font-family: $medium-font;
    font-weight: 500;
    font-size: 34px;
    line-height: 39.84px;
    color: $primary-font-color;
}


.woocommerce {
    margin: auto;
    width: $content-width;
    display: flex;
    flex-wrap: nowrap;

    
    .woocommerce-cart-form {
        width: 40%;
        padding-right: 285px;
        .shop_table{
            border: none;
            
            height: 180px;
            .actions{
                border-top: none;
            }

            .woocommerce-cart-form__cart-item{
                height: 100%;
                position: relative;
                td{
                    border-top: none;
                }

                .product-thumbnail{
                    width: 40%;
                    height: 100%;
                }
            }

            .product-name{
                a{
                    font-family: $medium-font;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18.75px;
                    color: $primary-font-color;
                    text-decoration: none;
                }
            }
            

            .product-remove{
                position: absolute;
                top: 0;
                right: 0;
            }
            .product-remove {
                .remove{
                    color: $primary-font-color !important; 
                    font-size: 30px !important;
                    &:hover{
                        background-color: transparent !important;
                    }
                }
            }


            .product-name,
            .product-price,
            .product-quantity,
            .product-info{
                display: block;
            }

            .product-price{
                .amount{
                    font-family: $medium-font;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21.09px;
                    color: $primary-font-color;
                }
            }

            .product-info{
                font-family: $light-font;
                font-weight: 300;
                font-size: 14px;
                line-height: 16.41px;
                color: $primary-font-color;
            }
            .product-quantity{
                display: flex;
                width: 31px;
                height: 31px;
                
                a{
                    display: flex;
                    flex-direction: row;
                    padding-right: 15px;
                    border: 1px solid $primary-font-color;
                    img{
                        padding-left: 6px;
                    }
                }
                .quantity{
                    display: flex;
                }
            }
        }
        
    }

    .cart-collaterals {
        width: 40%;
        background-color: rgba(236, 235, 233, 0.7);
        margin-bottom: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cart_totals {
            width: 85%;

            .custom-inputs{
                padding-top: 50px;
                padding-bottom: 30px;
                .discount-code{
                    p{
                        font-family:  $light-font;
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 21.09px;
                        color: $primary-font-color;
                    }
                    input{
                        width: 345px;
                        height: 54px;
                        background-color: #fff;
                        border: 1px solid $primary-font-color;
                    }
                    button{
                        background-color: #323334;
                        width: 65px;
                        height: 54px;
                        font-family: $bold-font;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 16.41px;
                        color: #FFFFFF;
                        margin-left: -5px;
                        border: 1px solid $primary-font-color;

                    }
                }
                .login-offers{
                    p{
                        font-family:  $light-font;
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 21.09px;
                        color: $primary-font-color;
                    }
                    button{
                        width: 416px;
                        height: 54px;
                        text-align: center;
                        font-family: $bold-font;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 18.75px;
                        color: $primary-font-color;
                        background-color: #FFFFFF;
                        border: 1px solid $primary-font-color;
                    }
                }
            }
            .shop_table{
                border: none;
                margin: auto;
                .cart-subtotal,
                .shipping,
                .order-total{
                    th{
                        font-family: $medium-font;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
                .shipping{
                    .woocommerce-shipping-destination,
                    .woocommerce-shipping-calculator{
                        display: none;
                    }
                }
                .order-total{
                    .includes_tax{
                        display: none;
                    }
                }
                .woocommerce-shipping-totals,
                .order-total{
                    th,td{
                        border-top: none;
                    }
                }
            }

            .wc-proceed-to-checkout{               
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 416px;
                    height: 54px;
                    text-align: center;
                    background-color: $primary-font-color;
                    font-family: $bold-font;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
        }
    }
}

