#main{


    div.product-type-variable,
    div.product-type-simple{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: $content-width;
        padding-top: 60px;
        margin: auto;
        .woocommerce-product-gallery{
            width: 65%;
            .woocommerce-product-gallery__wrapper{
                display: flex;
                flex-wrap: wrap;
                width: 100%;       
                .woocommerce-product-gallery__image{
                    padding-right: 20px;
                    padding-bottom: 20px;
                    .wp-post-image{
                        width: 416px;
                        height: 572px;
                    }
                    
                }     
            }
        }


        

        .summary{
            width: 30%;
            
            .product_title{
                font-family: $medium-font;
                font-weight: 500;
                font-size: 28px;
                line-height: 32.81px;
                color: $primary-font-color;
            }
            .price{
                font-family: $medium-font;
                font-weight: 500;
                font-size: 24px;
                line-height: 28.13px;
                color: $primary-font-color;
            }

            .woocommerce-product-details__short-description{
                font-family: $light-font;
                font-weight: 300;
                font-size: 18px;
                line-height: 21.09px;
                color: $primary-font-color;
            }
            .mini-product-photo{
                img{
                    border: 1px solid $primary-font-color;

                }
                padding-bottom: 30px;
            }
            .available-in-stores{
                padding-bottom: 30px;
                img{
                    padding-right: 5px;
                }
                span{
                    font-family: $regular-font;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18.75px;
                    color: rgba(0, 0, 0, 0.5);
                }
            }
            

            .variations_form{
                .variations{
                    td{
                        padding-bottom: 10px;
                    }
                    .value{
                        select,
                        option{
                            width: 416px;
                            height: 54px;
                            border: 1px solid $primary-font-color;
                            background-color: transparent;
                            padding: 10px;
                            font-family: $regular-font;
                            $font-weight: 400;
                            font-size: 16px;
                            line-height: 18.75px;
                            margin-left: -4px;
                        }
                        .reset_variations{
                            display: none;
                        }
                    }
                }
            }

            .cart{
                padding-top: 10px;
                .quantity{
                    display: none;
                }
                .woocommerce-variation-add-to-cart{
                    .quantity{
                        input{
                            display: none;

                        }
                    }
                }
                .single_add_to_cart_button{
                    width: 416px;
                    height: 54px;
                    background-color: $primary-font-color;
                    font-family: $bold-font;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 18.75px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
        }


        .woocommerce-tabs{
            padding-top: 60px;
            padding-bottom: 60px;
            ul{
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                li{
                    margin-bottom: 10px; 
                    padding-right: 15px;

                    a{
                        font-family: $regular-font;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 21.09px;
                        text-decoration: none;
                        color: #333;
                    }
                }
            }
            .woocommerce-Tabs-panel--description{
                .sku-p{
                    font-family: $light-font;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 21.09px;
                    color: rgba(0, 0, 0, 0.5);
                    .sku-text{
                        color: #000000;
                    }
                }
                .composition{
                    font-family: $light-font;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 21.09px;
                    color: rgba(0, 0, 0, 0.5);
                    .attribute-name{
                        color: #000000;
                    }
                }
            }

            .woocommerce-Tabs-panel--reviews{
                .woocommerce-Reviews{
                    font-family: $regular-font;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21.08px;
                    color: $primary-font-color;

                    .comment-form{
                        .comment-form-comment{
                            display: flex;
                            flex-direction: column;
                        }
                        .form-submit{
                            .submit{
                                width: 416px;
                                height: 54px;
                                background-color: $primary-font-color;
                                font-family: $bold-font;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 18.75px;
                                color: #FFFFFF;
                                text-transform: uppercase;
                                cursor: pointer;width: 416px;
                                height: 54px;
                                background-color: $primary-font-color;
                                font-family: $bold-font;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 18.75px;
                                color: #FFFFFF;
                                text-transform: uppercase;
                                cursor: pointer;
                            }
                            
                        }
                    }
                }
            }

        }

        .custom-related-products{
            .related-products-wrapper{
                .related-products-container{
                    .related{
                        h2{
                            display: none;
                        }
                    }
                }
            }
        }
        
        
    }

    





    .product {
        .related{
            .columns-4{
                display: flex;
                margin: 0;
            }
        }
    }    
    
}